.container {
    position: relative;
   background: white;
    height: 450vh;  
    overflow: hidden;
  
    
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgb(240, 238, 142);
    opacity: 0;
    visibility: hidden;
  
    top: 0px;
    width: max-content;
    
  }