.kmainimg{
    width: 1500px;
    height: 500px;
}
.text1{
    position: relative;
    left: 400px;
    bottom: 400px;
    color: #0a0a0a;
    font-weight: bold;
    font-style: oblique;
}

.mine{
    border: 1px solid rgb(179, 177, 177);
    width: 350px;
    height: 400px;
    
}
.mainwhole{
display: grid;
grid-template-columns: 400px 400px 400px;
grid-gap: 30px;

    position: relative;
    bottom: 70px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 70px;
    
    font-family: 'Gotham-Book';
}

.center{
    position: relative;
    bottom: 140px;
}
.black{
    color: rgb(241, 19, 19);
    position: relative;
    bottom: 15px;
    text-transform: uppercase;
    font-size: small;


border: 0px;
background: transparent;
padding-left: 0px;

    
}
.black:hover{
    color: blueviolet;
}

